<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Skillo Page tests">
    <test name="AllTests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.RegistrationTests"/>
            <class name="tests.NewPostTests"/>
            <class name="tests.FollowingTest"/>
            <class name="tests.LikeDislikeTest"/>
            <parameter name="reg_username" value="pesho123"/>
            <parameter name="reg_password" value="1qaz2wsx"/>
            <parameter name="email" value="pesho123@gmail.com"/>
        </classes>
    </test>
</suite>