<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Skillo Page tests">
    <test name="AllTests">
        <classes>
            <parameter name="username" value="pesho123"/>
            <parameter name="password" value="1qaz2wsx"/>
            <parameter name="email" value="pesho123@gmail.com"/>
            <class name="tests.LoginTests"/>
            <class name="tests.RegistrationTests"/>
        </classes>
    </test>
</suite>